<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br/>
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Book Ride</h1>

            <form method="post">
                <div class="form-group">
                    <div class="input-group">
                        <input id="txtLocation" type="text" class="form-control"
                               name="location" placeholder="Location" required/>
                    </div>
                </div>

                <input id="btnBook" type="submit" class="btn btn-primary" value="Send request"/>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>
</html>